.container {
  padding: 50px 100px;
  background-color: rgb(242, 242, 242);
}

.title-wrapper {
  padding: 100px 0 40px 0;
  color: rgb(0, 0, 0);
  background-size: cover;
  background-color: rgb(229, 229, 229);
  text-align: center;
}

.title-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}
form {
  text-align: center;
}

.input-wrapper {
  padding: 20px 20px;
  text-align: center;
}

.input input {
  height: 40px;
  width: 300px;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
}

.input label {
  display: block;
  font-weight: 600;
  padding: 10px;
  font-size: 20px;
}

.submit-btn {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: rgb(242, 242, 242);
  transition: all 0.5s;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}

.list-wrapper {
  padding-bottom: 80px;
  background-color: rgb(229, 229, 229);
}

.tiles {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.tile {
  width: 400px;
  height: 300px;
  margin: 10px 15px;
  background-color: white;
  box-shadow: 0px 5px 15px -5px #777777;
  border-radius: 10px;
  transition: all 0.5s;
}

.tile:hover {
  box-shadow: none;
}

.tile-top {
  position: relative;
  margin: 15px 15px 0 15px;
}

.post-title {
  padding-top: 15px;
}

.tile-main {
  position: relative;
  margin: 5px 15px 15px 15px;
  padding: 0;
}

.tile-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.author {
  font-weight: 600;
  color: rgba(75, 75, 75, 0.671);
  margin-bottom: 0;
}

.movie {
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
}

hr {
  margin: 3px;
  border-top: 2px solid rgb(131, 131, 131);
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.tiles {
  flex-wrap: wrap;
}

.evaluations {
  display: flex;
}

