<div class="register-wrapper">
  <div class="container">
    <h1 class="title">REGISTER</h1>
    <div *ngIf="errors.length > 0" class="alert alert-danger">
      <ul *ngFor="let error of errors">
        <li>{{ error }}</li>
      </ul>
    </div>
    <div class="form-wrapper">
      <form (ngSubmit)="register()" [formGroup]="registerForm">
        <div class="input-wrapper">
          <div class="input input-username form-group">
            <label for="username">USERNAME</label>
            <input
              id="username"
              type="text"
              formControlName="username"
              placeholder="ENTER YOUR USERNAME"
              required
            />
            <div
              *ngIf="username.invalid && (username.dirty || username.touched)"
              class="alert"
            >
              <div *ngIf="username.errors.required" style="color: red">
                Requied Field
              </div>
            </div>
          </div>
          <div class="input input-email form-group">
            <label for="email">EMAIL</label>
            <input
              id="email"
              type="email"
              formControlName="email"
              placeholder="ENTER YOUR EMAIL ADDRESS"
              required
            />
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert"
            >
              <div *ngIf="email.errors.required" style="color: red">
                Requied Field
              </div>
            </div>
          </div>
          <div class="input input-password form-group">
            <label for="password">PASSWORD</label>
            <input
              id="password"
              type="password"
              formControlName="password"
              placeholder="ENTER YOUR PASSWORD"
              required
            />
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert"
            >
              <div *ngIf="password.errors.required" style="color: red">
                Requied Field
              </div>
            </div>
          </div>
        </div>

        <input value="SUBMIT" class="submit-btn" type="submit" />
      </form>
    </div>
  </div>
</div>
